// day mode
$background-color: #1c1c1c;
$white-color: #ffffff;
$border-color: #d1d5db;
$text-color: #374151;
$purple-color: #4f46e5;

// dark mode
$blue-color--dark: #1f2937;
$gray-color--dark: #3d4b60;
$text-color--dark: #d5d4d8;
$purple-color--dark: #5a8dff;
