@import "./reset", "./variables", "./dark";

body {
  background: $background-color;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $text-color;
}

* {
  transition: background 0.2s ease-in-out, color 0.3s ease-in-out;
}

.light-mode {
  position: absolute;
  top: -3rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 200;
  color: $text-color--dark;
  cursor: pointer;
  transition: all 0.1s ease-in;
  padding: 0.3rem;

  &:hover {
    transform: translateX(-50%) scale(1.1);
    background: green;
  }
}

.fa {
  color: $text-color;
}

.fa-check {
  color: $purple-color;
}

.color-generator {
  position: relative;
  height: 550px;
  width: 550px;
  margin: 2rem;

  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 90px 1fr 46px;

  &__head {
    background: $white-color;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    z-index: 2;

    border-radius: 0.5rem 0.5rem 0 0;

    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  }

  &__color-picker {
    height: 42px;
    width: 42px;
  }

  &__dropdown {
    height: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin: 1rem;
    position: relative;

    &--btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      width: 100%;
      cursor: pointer;
      color: $text-color;

      border: 1px solid $border-color;
      padding: 1rem;
      border-radius: 0.5rem;
    }

    &--choices {
      visibility: hidden;
      position: absolute;
      top: 105%;
      left: 0;
      right: 0;
      background: $white-color;
      border: 0.2px solid $border-color;
      box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.3);
      border-radius: 0.5rem;
      padding: 1rem 0.5rem;
      z-index: 3;

      transition: all 0.3s ease-out;
      transform: translateY(-150%);
    }

    &--choices.visible {
      visibility: visible;
      transform: translateY(0);
    }

    &--choice {
      padding: 8px;
      cursor: pointer;

      &:hover {
        font-weight: bold;
      }

      .fa {
        visibility: hidden;
      }

      &.selected {
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .fa {
          visibility: visible;
        }
      }
    }
  }

  &__get-scheme {
    height: 35px;
    padding: 1rem;
    border: 1px solid $border-color;
    border-radius: 0.5rem;
    cursor: pointer;
    color: $text-color;
  }

  &__colors {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  &__color {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    &:hover {
      transform: scale(1.02);
    }
  }

  &__footer {
    background: $white-color;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    text-align: center;

    border-radius: 0 0 0.5rem 0.5rem;
  }

  &__color-hex {
    cursor: pointer;
    &:hover {
      font-weight: bold;
    }
  }
}
